@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.indicator {
  border: 3px solid #ccc;
  border-top: 3px solid #3498db;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  animation: spin 1s linear infinite;
}

.indicator-wrapper {
  width: 175px;
  height: 134px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.indicatorLine {
  height: 5px;
  width: 720px; /* for now */
	background: #FFEA19;
	/* position: absolute; */
	/* top: 10px; */
	left: 0;
	animation: lineMove 1s linear infinite;
}

.flashing {
  animation: flash linear 1s infinite;
}
@keyframes flash {
	0% { opacity: 1; } 
	50% { opacity: .1; } 
	100% { opacity: 1; }
}

@keyframes lineMove {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

