body {
  font-family: Avenir;
}

p {
  line-height: 1.5;
}

h2 {
  margin-top: 40px;
  padding: 20px;
  border-top: 1px solid #c0c0c0;
  border-bottom: 1px solid #c0c0c0;
  background: #fafafa;
  color: #0a0a0a;
  font-style: italic;
  font-weight: normal;
  line-height: 1.5;
}

#wrapper {
  padding: 50px 20px;
  max-width: 850px;
  margin-left: auto;
  margin-right: auto;
}

.indent {
  margin-left: 30px;
}

.pulseAction {
  animation-duration: 1s;
  animation-name: pulse;
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.indicator {
  border: 3px solid #ccc;
  border-top: 3px solid #3498db;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  animation: spin 1s linear infinite;
}

.indicator-wrapper {
  width: 175px;
  height: 134px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.indicatorLine {
  /* height: 5px; */
  width: 720px; /* for now */
	background: #FFEA19;
	/* position: absolute; */
	/* top: 10px; */
	left: 0;
	animation: lineMove 1s linear infinite;
}

@keyframes lineMove {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.brush .extent {
  stroke: #000;
  fill-opacity: .125;
}

table {
  border-top: double;
  border-bottom: double;
  border-right: blank
}
thead, tbody, tfoot {
  border-top: solid;
  border-bottom: double
}
table td {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}
table tr { 
  border: solid;
  border-width: 1px 0;
}
colgroup {
  border-right: solid
}

.btn {
  border-radius: 15px;
  font-family: Arial;
  color: #ffffff;
  font-size: 12px;
  background:  #c0c0c0;;
  padding: 3px 6px 3px 6px;
  text-decoration: none;
}

.btn:hover {
  background:  #ebebeb;;
  text-decoration: none;
}

.no-result {
  color: red;
}

/* copied from https://www.w3schools.com/howto/howto_js_rangeslider.asp */


.slider-simple {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 2px;   
  background: #d3d3d3;
  opacity: 0.4;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

/* button styling */

.reset-btn {
  border: 0;
  border-radius: 0.25rem;
  background: rgba(229, 86, 30, 0.466);
  color: white;
  font-family: system-ui, sans-serif;
  font-size: 1rem;
  line-height: 1.2;
  white-space: nowrap;
  text-decoration: none;
  padding: 0.25rem 0.5rem;
  margin: 0.25rem;
  cursor: pointer;
}

/* chart styling */

.rotated text {
  transform: rotate(-45deg);
  text-anchor: end;
}

.chart-container {
  float: left;
  text-align: center;
}

.chart-svg {
  display: block;
}

.pin-top {
  position: sticky;
  background: white;
  top: 0px;
  border-style: solid;
}

.small-multiples-itxId {
  font-size: 20px;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.film-strip {
  float: left;
  border-style: solid;
  border-width: thin;
  margin-left: 10px;
  cursor: pointer;
}

.progress-bar {
  width: 100%;
  height: 10px;
  border-radius: 10px;
  background-color: lightgrey;
  margin-bottom: 14px;
}

.progress-bar-bar {
  height: 10px;
  background-color: lightgreen;
}
