body {
  font-family: Avenir;
}

p {
  line-height: 1.5;
}

/* override intro */
.introjs-skipbutton {
  visibility: hidden;
}

.introjs-donebutton {
  visibility: visible !important;
  color: red !important;;
  font-style: bold !important;;
}

.introjs-showElement {
  background-color: white !important;
}

.vis-portal {
  width: 610px;
  float: left;
}

.bar-chart .select-bars {
  cursor: pointer;
}

.task-container {
  width: 200px;
  float: left;
  border: 2px solid gray;
  padding: 10px;
  border-radius: 5px;
}

.question-wrapper {
  margin-bottom: 20px;
}

.radio-button-wrapper label {
  padding-top: 5px;
  white-space: nowrap;
  display: block;
}

.footnote {
  font-size: 50%;
}

.correct {
  color: green;
  font-style: bold;
  animation: fadein 1s;
}

.warning {
  color: red;
  font-style: bold;
  animation: fadein 1s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

div.tooltip {	
  position: absolute;			
  text-align: center;			
  width: 60px;					
  height: 28px;					
  padding: 2px;				
  font: 12px sans-serif;		
  background: lightsteelblue;	
  border: 0px;		
  border-radius: 8px;			
  pointer-events: none;			
}

h2 {
  margin-top: 40px;
  padding: 20px;
  border-top: 1px solid #c0c0c0;
  border-bottom: 1px solid #c0c0c0;
  background: #fafafa;
  color: #0a0a0a;
  font-style: italic;
  font-weight: normal;
  line-height: 1.5;
}

#wrapper {
  padding: 50px 20px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.indent {
  margin-left: 30px;
}

.pulseAction {
  animation-duration: 1s;
  animation-name: pulse;
}

.imgIllustration {
  float: left;
}

.textDescription {
  float: left;
}


.happyOrNotBtn {
  background: white;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.brush .extent {
  stroke: #000;
  fill-opacity: .125;
}

colgroup {
  border-right: solid
}

.no-result {
  color: red;
}

.dimmed {
  position: relative;
}

.dimmed:after {
  content: " ";
  z-index: 10;
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.8);
}

/* button styling */

.tour-btn {
  /* position: absolute !important;
  top: 30px;
  left: 30px; */
  background: powderblue !important;
  fill-opacity: 0.2;
}

.general-btn {
  border: 0;
  border-radius: 0.25rem;
  font-family: system-ui, sans-serif;
  font-size: 1rem;
  background: gray;
  color: white;
  line-height: 1.2;
  white-space: nowrap;
  text-decoration: none;
  padding: 0.25rem 0.5rem;
  margin: 0.25rem;
  cursor: pointer;
}

.exp-nav-btn {
  background: lightblue !important;
}

.submit-btn {
  background: orange;
}
/* 
.reset-btn {
}

.unclip-btn {
} */

/* chart styling */

.rotate90x text {
  /* some serious hard coding here.... */
  transform: translate(40px, 0px) !important;
}
.rotate90x line {
  transform: translate(7px);
}

.rotate90y text {
  transform: translate(-11px, 12px) rotate(-90deg) !important;
}

.chart-layout-wrapper {
  float: left;
}

.chart-container {
  float: left;
  text-align: center;
}

.chart-svg {
  display: block;
}

.pin-top {
  position: sticky;
  background: white;
  top: 0px;
  border-style: solid;
}


.progress-bar {
  width: 100%;
  height: 10px;
  border-radius: 10px;
  background-color: lightgrey;
  margin-bottom: 14px;
}

.progress-bar-bar {
  height: 10px;
  background-color: lightgreen;
}