/**
 * Viz UI styles
 */

html {
  font-family: sans-serif;
  background: white;
}

.inline-block {
  display: inline-block;
  vertical-align: top;
}

.widget-wrapper {
  border: 1px solid #ccc;
  border-bottom: none;
  margin-right: 20px;
}

.button-widgets {
  list-style-type: none;
  border-bottom: 1px #ccc solid;
  padding: 5px 35px 5px 10px;
  font-size: 13px;
  background: #f9f9f9;
}
.button-widgets.selected {
  background: #e0e0e0;
}

.brush .extent {
  stroke: #000;
  fill-opacity: .125;
}

.indicator {
  border: 3px solid #ccc;
  border-top: 3px solid #3498db;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.multiples-wrapper {
  width: 700px;
}

.indicator-wrapper {
  width: 175px;
  height: 134px;
}

.chart-label {
  font-size: 14px;
}

/**
 * experiments
 */
html {
   color: #333;
 }

 p {
   line-height: 1.2em;
 }

 label {
   /* display: block; */
   margin-bottom: 5px;
 }

 hr {
   margin: 20px 0;
 }
.controls {
  padding-bottom: 20px;
}
.select {
  border: none;
  background-color: #e7e7e7;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#wrapper {
  padding: 50px;
}